<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../Images/css1/css.css" rel="stylesheet" type="text/css">
<style type="text/css">
body {
	margin-left:-5;
	margin-top:-17
}
</style>
</head>

<script type=text/javascript>
var xmlHttp=null;
// when you selected one channel id in first chname element ,
//then this function get json from cgi which then substitutes the third element of live_path
function showUser(str)
{ 	
	//get selected option value like cid=1 
	var obj = document.getElementById("cid");	
	var index = obj.selectedIndex;		
	var mycid = obj.options[index].value;
	
	xmlHttp=GetXmlHttpObject();
	if (xmlHttp==null)
	{
		alert ("Browser does not support HTTP Request");
		return;
	}
	var url="http://127.0.0.1:8080/cgi-bin/generate_data.py?chid="+mycid;
	xmlHttp.onreadystatechange=stateChanged ;
	xmlHttp.open("GET",url,true);
	xmlHttp.send(null);
}

function stateChanged() 
{ 
  if (xmlHttp.readyState==4 || xmlHttp.readyState=="complete")
   { 
		document.getElementById("txtHint").value=xmlHttp.responseText ;
   } 
}

function GetXmlHttpObject()
  {
  var xmlHttp=null;
  try
   {
   // Firefox, Opera 8.0+, Safari
	 xmlHttp=new XMLHttpRequest();
   }
  catch (e)
   {
   //Internet Explorer
   try
	{
	  xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
	}
   catch (e)
	{
	  xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
   }
  return xmlHttp;
}

</script>


<body>
	<form action=$the_url  method="post">
	<table class="table" cellspacing="1" cellpadding="2" width="99%" align="center" border="0">
		<tr align="center">
			<th class="biaoti" align="left" colspan="6" height="40" >发布页面 </th>
		</tr>
		<tr>
			<th class="bg_tr" align="center" height="25">频道名称</th>  			
			<th class="bg_tr" align="center" height="25">发布地址</th>
			<th class="bg_tr" align="center" height="25">资源路径</th>
		</tr>
