
    <tr>
      <td class="td_bg" width="25%" height="23"><input id="checkbox"type="checkbox" name="chid" value=$chid>$cname</td>
      <td class="td_bg" width="25%" height="23"><input type="text" name="chid" value=$chid readonly="readonly" ></td>
      <td class="td_bg" width="25%" height="23"><input id=$chid type="text" name="serverip" value=$serverip></td>
      <td class="td_bg" width="25%" height="23"><input id=$chid type="text" name="storagepath" value=$storagepath></td>
      <td class="td_bg" width="25%" height="23"><input id=$chid type="text" name="status" value=$status readonly="readonly"></td>
  </tr>
   
