@charset "utf-8";
/* CSS Document */
body{
	border-color:#0F3;
	border-width:thick
	border-style:solid;
	background-color:#FFF;

}
span.help {
  color:#FCF;
  font-style:italic;
}

#pn{	
	font-size:150%;
	font-weight:bold;
	color:#006;
}
p#footlink{
	color:#000;
	font-size:24px;
	
}
#table1{
	background:#999;
	font-size:100%;
	padding:15px;
	margin:0px 10px 10px 10px;
}
#table2{
	background:#999;
	font-size:100%;
	padding:15px;
	margin:0px 10px 10px 10px;
}
#table3{
	background:;
	font-size:100%;
	padding:15px;
	margin:0px 10px 10px 10px;
}


#editOsname{
margin: 0px 10px 10px 10px;
}
.table{
	border: 1px solid #CAF2FF;/*边框颜色*/
	margin-top: 5px;
	margin-bottom: 5px;
	background:#B8D3F1;
}
.bg_tr {
	font-family: "微软雅黑,Verdana, 新宋体";
	color:#1E5494;/*标题字体色*/
	font-size:12px;
	font-weight:bolder;
	background:#E4F1FA;/*标题背景色*/
    line-height: 22px;
	}
.td_bg {
	background:#ffffff;
	}
input {
  height:20px;
  }
  
p#footlink{
	color:#000;
	font-size:24px;
	
}
