</table>	
    <form id="myform" action=$actionname method="post" >  
    <input id="spid" type="hidden" name="spid" />
    <input id="ip" type="hidden" name="ip"  />
    <input id="path" type="hidden" name="path" />
    <input id="port" type="hidden" name="port" />
    <input type="submit" id="submit"  size="20" name="submit" value="修改"  onclick="" disabled="disabled"/> &nbsp;&nbsp;&nbsp;
    <input type="submit" id="delt" value="删除" name="submit"  onclick="" disabled="disabled"/>  
	</form>
</div>