<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>EPG地址管理</title>
<link type="text/css" rel="stylesheet" href="../css/head.css"  />
<script src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src='../js/edirUrl.js' >	
</script>
</head>
<body>
<center><h2>EPG地址管理</h2></center>
<p align="center">需要修改哪一项目请点击相应复选框，然后进行修改，提交。</p>
<div id="editOsname" align="center">		
	<table class="table" cellspacing="1" cellpadding="2" width="50%" align="center"  border="0">
    	<tr>          
          <th class="bg_tr" align="left" height="25">项目名称</th>
          <th class="bg_tr" align="left" height="25">IP地址</th>   
          <th class="bg_tr" align="left" height="25">存储位置</th>       
          <th class="bg_tr" align="left" height="25">端口号</th>      
        </tr>        

	
