<html>
<head>
    <title>Welcome to uidsy jsb system.</title>
    <link type="text/css" rel="stylesheet" href="coach.css" />
</head>

<body>
	<form action=$the_url  method="post">
	<table class="table" cellspacing="1" cellpadding="2" width="99%" align="center" border="0">
		<tr align="center">
 		 	<th class="biaoti" align="left" colspan="6" height="40" >发布页面 </th>
		</tr>
		<tr>
  			<th class="bg_tr" align="center" height="25">频道名称</th>
  			<th class="bg_tr" align="center" height="25">频道分类</th>            
		</tr>


