   
        </select><br />
        ip地址&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="ip" size="32" onblur="validateIp(this, document.getElementById('ip_help'));"/>
        <span id="ip_help" name="ip_help" class="help"></span>
        <br /><br />
        端口号&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="port" size="32" onblur="validatePort(this, document.getElementById('port_help'))"/>
        <span id="port_help" name="port_help" class="help"></span>
        <br />
        <tr><th>&nbsp;</th><td><input type="submit" value="提交" onclick="#"></td></tr>
		</table>
	</form>
   