		</select><br />
        起始MAC&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="mac1" name="mac1" size="32" onblur="validateMac1(this, document.getElementById('mac1_help'));" />
        <span id="mac1_help" name="mac1_help" class="help"></span>
        <br /><br />
        结束MAC&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="mac2" name="mac2" size="32" onblur="validateMac2(this, document.getElementById('mac2_help'));"/><span id="mac2_help" name="mac2_help" class="help"></span>
        <br />
        <tr><th>&nbsp;</th><td><input type="submit" value="提交" onclick="placeOrder3(this.form)"></td></tr>
		</table>
		</form>
	</div>