
    <tr>
      <td class="td_bg" width="25%" height="23"><input type="checkbox" name="which_channel" value=$chid>$cname</td>
      <td class="td_bg" width="25%" height="23">$chid</td>
      <td class="td_bg" width="25%" height="23"><input type="text" name="serverip" value=$serverip></td>
      <td class="td_bg" width="25%" height="23"><input width="100%" type="text" name="storagepath" value=$storagepath></td>
      <td class="td_bg" width="25%" height="23"><input type="text" name="status" value=$status readonly="readonly"></td>
  </tr>
   
